 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');





.Home {
    text-align: center;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    letter-spacing: 2px;
    font-family: 'Montserrat', sans-serif;
  }

 .Home-header {
    font-size: 40px;
    color: black;
    font-weight: 100px;
 }

  .Home-p {
    color: 'black';
 }
  
  .Home-img {
    max-width: 70vmin;
  }