@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");

.Signup {
  text-align: center;
  letter-spacing: 2px;
}

.Signup-img {
  max-width: 50vmin;
  max-height: 80vmin;
  align-self: center;
  position: relative;
  margin-top: 10%;
}

.Signup-header {
  align-self: center;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 1px;
}

.Signup-DialogOptions {
  align-self: center;
  margin-top: 10px;
  margin-bottom: 30px; ;
}

.Signup-DialogContent {
  align-self: center;
  max-width: 5000px;
  max-height: 5000px;
}

.Signup-Dialog {
  max-height: fit-content;
}