@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");

.signup {
  text-align: center;
  letter-spacing: 2px;
}

.signup-img {
  max-width: 50vmin;
  max-height: 80vmin;
  align-self: center;
  position: relative;
  margin-top: 10%;
}

.signup-header {
  align-self: center;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 1px;
}

.signup-dialog-options {
  align-self: center;
  margin-top: 10px;
  margin-bottom: 30px;
}

.signup-dialog-content {
  align-self: center;
  max-width: 5000px;
  max-height: 5000px;
}

.signup-dialog {
  max-height: fit-content;
}

.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
  margin-top: 16px;
  margin-bottom: 200px;
  margin-right: 16px;
  margin-left: 16px;
}
