@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap");

.Logo-container {
  display: flex;
  height: fit-content;
  width: fit-content;
}

.Logo-img {
  height: 80px;
  width: 180px;
}
