@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");

.edit {
  text-align: center;
  letter-spacing: 2px;
}

.edit-img {
  max-width: 50vmin;
  max-height: 80vmin;
  align-self: center;
  position: relative;
  margin-top: 10%;
}

.edit-header {
  align-self: center;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 1px;
}

.edit-dialog-options {
  align-self: center;
  margin-top: 10px;
  margin-bottom: 30px;
}

.edit-dialog-content {
  align-self: center;
  max-width: 5000px;
  max-height: 5000px;
}

.edit-dialog {
  max-height: fit-content;
}
